# Copyright (c) 2026 Arslaan Pathan
# This software is licensed under the ARPL. See LICENSE for details.

menuentry "FrenchToastOS" {
	set gfxmode=1024x768x32
	insmod multiboot
	multiboot /boot/FrenchToastOS.bin
}
