# Copyright (c) 2026 Arslaan Pathan
# This software is licensed under the ARPL. See LICENSE for details.

menuentry "FrenchToastOS (UEFI)" {
	set gfxmode=auto
	insmod efi_gop
	insmod efi_uga
	insmod all_video
	insmod multiboot
	multiboot /boot/FrenchToastOS.bin
	boot
}

menuentry "FrenchToastOS (BIOS)" {
	# in BIOS we can do as much arbitrary stuff as we want so just set the one we wanted
	set gfxmode=1024x768x32
	insmod multiboot
	multiboot /boot/FrenchToastOS.bin
	boot
}
